<% if(theme.comment.use) { %>
    <div class="comment-shell is-loading" data-comment-provider="<%= theme.comment.use %>">
        <div class="comment-status">Loading comments...</div>
        <%- partial('_widget/comment/' + theme.comment.use + '/enter') %>
    </div>
<% } %>
