<div id="disqus_thread" data-shortname="<%= theme.comment.shortname %>"></div>
<script type="text/javascript">
    var disqus_config = function () {
        this.page.url = '<%= page.permalink %>';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '<%= page.permalink %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
</script>
